.baner{
    width: 100%;
    border: 10px;
}
h1{
    text-align: center;
    color: rgb(4, 0, 235);
    
}
body{
    background-color: rgb(0, 0, 0);
    color: blue;
}
p{
text-align: justify;
    margin: 50px;
    font-size: 20px;
    color: blue;
}
h2{
    text-align: center;

    
}
img{
    width: 500px;
}
hr{
    border: 2px dashed white;

}
